<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <img src="../../assets/img/i1.jpg" id="img"/>
      <p id="desc">Le Maroc (en arabe :<ion-text color="primary"><i>المغرب</i></ion-text> ,
        al-Maġrib ; en amazighe :<ion-text color="primary"><i>ⵍⵎⵖⵔⵉⴱ19</i></ion-text> , L-Meġrib ou ⵎⴻⵕⵕⵓⴽ Merruk20),
         ou depuis <ion-text color="primary"><i>1957</i></ion-text>, en forme longue le Royaume du Maroc,
         autrefois appelé Empire chérifien, est un État unitaire
         régionalisé situé en Afrique du Nord. Son régime politique
         est une Monarchie constitutionnelle semi-parlementaire
         unitaire et régionalisée. Sa capitale administrative et
         politique est Rabat et sa plus grande ville,
         ainsi que sa capitale économique, est Casablanca.</p>
      <div id="but">
    <ion-button  routerLink ="/visit" color="success">Visiter</ion-button>
    <ion-button routerLink="/reservation" color="warning" >Reserver</ion-button>
  </div>   
  </div>
 
</ion-content>

